.wrapper {
  width: 100%;
  text-align: center;
  border: 1px solid #000000;
}

.header {
  color: #ffffff;
  background-color: #2b1872;
  margin-bottom: 100px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-title {
  width: 150px;
  margin-right: 10px;
}

input,
select {
  width: 200px;
}
